# Dependencies
node_modules

# Build output
dist
dist-ssr
cdk.out
.cdk.staging

# CDK compiled output
infrastructure/**/*.js
infrastructure/**/*.d.ts
!infrastructure/jest.config.js

# Environment
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
